#procedures_list
  = render @items, visit: visit

#billing_item_list
  = render @billing_items

= form_for visit do |f|
  = hidden_field_tag :next_step, :finish_procedure
  = f.submit "Finish Treatments"
