-if current_user.is_client?
  Dr #{visit.provider.last_name} will be visiting you soon!!

- else
  %h3
    #{visit.client.first_name} #{visit.client.last_name}
    %small #{visit.client.address}

  = link_to "Begin Appointment", visit, class: 'btn btn-info'
