-if current_user.is_client?
  %h4 Appointment Scheduled!
  %h2.vet You're All Set!
  %h2
    Dr. #{visit.provider.last_name} will be visiting you and #{ current_user.pets.first.name } soon!!
  %img.apt-success-img{:src => "/assets/dog-success.png"}/
  / todo: DYNAMICALLY LOAD IMAGE BASED ON {{PerSpecies}} above

  .control-group
    .controls.align-center.margintop
      %button.btn.btn-large.btn-primary{:type => "submit"} Appointment Status

- else ## THIS IS THE VET
  %h3
    .well.well-small.apt-list
      %ul
        %li
          %span.vet 12:00pm
          %span #{visit.client.pets.first.name}
          %span #{visit.client.first_name} #{visit.client.last_name}
          %span #{visit.client.address}
          %span
            = link_to "Begin Appointment", visit, class: 'btn btn-info'
  .visit-address-data.hide{ data: { address: visit.client.address.parameterize } }
