-if current_user.is_client?
  - if @nothing_is_going_on
    $('#add-appt').html("#{ escape_javascript(render 'requests/make_appointment') }")

  - if @requests.blank?
    $('#appt-requests').html("")
  - else
    $('#appt-requests').html("#{ escape_javascript(render @requests) }")

  - if @visits.blank?
    $('#confirmed-visits').html("")
  - else
    $('#confirmed-visits').html("#{ escape_javascript(render @visits) }")

-elsif current_user.is_provider?

  - if @requests.blank?
    $('#appt-requests').html("")
  - else
    $('#appt-requests').html("#{ escape_javascript(render @requests) }")

  - if @visits.blank?
    $('#confirmed-visits').html("You have no scheduled visits.")
  - else
    $('#confirmed-visits').html("#{ escape_javascript(render @visits) }")
