-if current_user.is_client?
  %h4 Appointment Scheduled!
  %h2.vet You're All Set!
  %h2
    We'll contact you soon to confirm your appointment for #{ current_user.pets.first.name }.
  %img.apt-success-img{:src => "/assets/dog-success.png"}/

-else
  %h2 New Appointment Request
  .well.well-small.apt-list
    %ul
      %li
        .apt-line1
          %span.vet 12:00pm
          %span #{request.client.pets.first.name}
        .apt-line2
          %span #{request.client.first_name} #{request.client.last_name}
          %span #{request.client.address}
        .request-address-data.hide{ data: { address: request.client.address.parameterize } }
        %span
          =link_to "Accept", requests_accept_path(request_id: request.id), remote: :true, class: 'btn btn-success accept_link', data: { address: request.client.address.parameterize }
        %span
          =link_to "Decline", requests_decline_path(request_id: request.id), remote: :true, class: 'btn btn-danger decline_link', data: { address: request.client.address.parameterize }
        -#%i.icon-chevron-right.icon.apt-icon-right
