%ul
  %li
    Client:
    %strong
      = request.client.first_name
      = request.client.last_name
  %li
    Address:
    %strong
      = request.client.address
  %li
    Accept or decline:
    %ul
      %li
        %a{href: "/requests/accept?request_id=#{request.id}"}
          Accept
      %li
        %a{href: "/requests/decline"}
          Decline
= request.inspect
